*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body{
    font-family: sans-serif;

}

a{
    text-decoration: none;
    color: white;

}

body{
    background-image: url("hey.jpg");
    background-size: cover;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;

}

.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
}
.theme-toggler{
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    cursor: pointer;
    z-index: 1;
}
.theme-toggler.active{
    color: rgb(33,33,33);

}
.theme-toggler.active::before{
    background-color: white;

}
.theme-toggler::before{
    content: ' ';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10%;
    background-color: rgb(33,33,33);
    z-index: -1;
}
#display{
    margin: 0.10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;

}
#display::-webkit-scrollbar {
    display: block;
    height: 3px;

}
button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 5px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}
button#equal{
    height: 130px;
}

/*light theme*/

.calculator{
    background-color: rgb(253, 253, 253);
}

.calculator #display {
    color: rgb(133, 14, 245);
}
.calculator button#clear{
    background-color: yellow;
    color: black;
}

.calculator button.btn-number {
    background-color: #16dfc8b9;
    color: black;
}
.calculator button.btn-operator{
    background-color: pink;
    color: black;
}

.calculator button.btn-equal {
    background-color: yellow;
    color: black;
}

/* dark theme*/
.calculator.dark{
    background-color: #1b2f38;
    
}

.calculator.dark button#clear{
    background-color: #16dfc8b9;
    color: white;
}

.calculator.dark button.btn-number{
    background-color: gray;
    color: white;
}

.calculator.dark button.btn-operator{
    background-color: #c51acbd5;
    color: #f1ed1b;
}

.calculator.dark button.btn-equal{
    background-color: #16dfc8b9;
    color: white;
}
